.formdiv{
    max-width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-top: 2px;
}
.label{
    margin-left: 25%;
}
input{
    margin-left: 30%;
    margin-right: 40%;
}